body {
    margin: 0;
    padding: 0;
	text-align: center;
    background-color: #ffffff;
}
.googleimg {
    width: 300px;
    height: 165px;
}

#poisk {
    margin-top: 155px;
    padding-left: 30px;
}
.sea {
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 0 17px;
    color: orange;
    background-color: #ffffff;
  	box-shadow: 0px 1px 14px -3px #000000;
} 

input:hover {
    background: white;
    transition: 1s;
}

.micro {
    right: 40px;
    top: 9px;
    position: relative;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
::-webkit-input-placeholder {
    color: #757575;
}

#circle {
	width: 45px;
	height: 45px;
	background: #d8d8d8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin-left: 598px;
    margin-top: 50px;
    
}

#yt {
    margin-top: 10px;
    background-color: red;
    padding: 0;
    border-radius: 7px;
}

p {
    width: 100%;
    font-family: monospace;
    margin-top: 20px;
    padding-right: px;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: red;
}

#setting {
    padding-left: 1150px;
    padding-top: 155px;
}